* {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    vertical-align: top;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
}

.box {
    float: left;
    padding: 15px 0 0 15px;
}

.pic {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.pic img {
    width: 165px;
}