* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;
}

html, body {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: auto;
    padding-top: 72px;
}

/*头部导航样式*/
.header {
    width: 100%;
    height: 72px;
    /*box-shadow: 0 5px 5px #ccc;  阴影 */

    /*定位*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}

.header .header-in {
    width: 2000px;
    height: 100%;
    /*background-color: red;*/
    margin: 0 auto;
}

.header .header-in .header-left {
    width: 700px;
    height: 52px;
    /*background-color: red;*/
    float: left;
    margin-top: 10px;
}

.header .header-in .header-left li {
    float: left;
    margin-right: 20px;
}

.header .header-in .header-left li a {
    line-height: 52px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #444444;
    font-size: 24px;
}

.header .header-in .header-left li a:hover {
    color: #c90000;
}

.header .header-in .header-left li:last-child a {
    font-size: 40px;
    line-height: 26px;
}

.header .header-in .header-left .new {
    width: 60px;
    height: 40px;
    background-color: #f4a523;
    display: inline-block;
    line-height: 40px;
    margin-top: 6px;
    margin-left: 6px;
    color: white;
}

.header .header-in .header-left .logo-pic a {
    width: 150px;
    height: 52px;
    /*margin-top: 10px;*/
    display: inline-block;
    background: url("../images/huaban_logo.png") no-repeat;
    background-size: 100% 100%;
}

.header .header-in .header-center {
    width: 1000px;
    height: 60px;
    background-color: red;
    float: left;
    margin-top: 6px;
}

.header .header-in .header-center input {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    background-color: #fafafa;
    border: 1px solid #ddd;
    font-size: 20px;
    resize: none;
}

.header .header-in .header-right {
    width: 200px;
    height: 72px;
    float: right;
}

.header .header-in .header-right a {
    float: right;
    width: 90px;
    height: 52px;
    line-height: 52px;
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #383838;
    border: 1px solid #d9d9d9;
    margin-top: 9px;
    font-size: 24px;
    border-radius: 5px;
}

.header .header-in .header-right a:first-child {
    float: left;
    background: linear-gradient(to right, #E53E49, #D43636); /*渐变色*/
    color: #fff;
    border: 1px solid #c90000;
}
/*头部导航样式*/

/*轮播广告的样式*/
.slider-banner {
    width: 2000px;
    height: 60px;
    margin: 0 auto;
}

.slider-banner ul {
    width: 100%;
    height: 60px;
    position: relative;
}

.slider-banner ul li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.slider-banner ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.slider-banner ul li:nth-child(1) a {
    background: url("../images/top_banner01.jpg") no-repeat;
}

.slider-banner ul li:nth-child(2) a {
    background: url("../images/top_banner02.jpg") no-repeat;
}

.slider-banner ul li:nth-child(3) a {
    background: url("../images/top_banner03.jpg") no-repeat;
}

.slider-banner ul li:nth-child(4) a {
    background: url("../images/top_banner04.jpg") no-repeat;
}

.slider-banner ul li:nth-child(5) a {
    background: url("../images/top_banner05.jpg") no-repeat;
}

.slider-banner ul li:nth-child(6) a {
    background: url("../images/top_banner06.jpg") no-repeat;
}

.slider-banner ul li:nth-child(7) a {
    background: url("../images/top_banner07.jpg") no-repeat;
}
/*轮播广告的样式*/

/*快速登录样式*/
.quick-login {
    width: 2000px;
    height: 120px;
    margin: 0 auto;
    background: url("../images/login_header_blurbg.jpg");
}

.quick-login .quick-login-in {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 18px;
}

.quick-login .quick-login-in .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quick-login .quick-login-in .intro .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.quick-login .quick-login-in .login-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quick-login .quick-login-in .login-icon li {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

.quick-login .quick-login-in .login-icon li:first-child {
    margin-left: 15px;
}

.quick-login .quick-login-in .login-icon li a {
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 50%;
}

.quick-login .quick-login-in .login-icon li:nth-child(1) a {
    background: url("../images/icon.jpg") 0 0;
}

.quick-login .quick-login-in .login-icon li:nth-child(2) a {
    background: url("../images/icon.jpg") 60px 0;
}

.quick-login .quick-login-in .login-icon li:nth-child(3) a {
    background: url("../images/icon.jpg") 140px 0;
}

.quick-login .quick-login-in .login-icon li:nth-child(4) a {
    background: url("../images/icon.jpg") 220px 0;
}

.quick-login .quick-login-in .login-icon .tip-text {
    position: relative;
}

.quick-login .quick-login-in .login-icon .tip-text .line-left {
    width: 40px;
    border: 1px solid #fff;
    display: block;
    position: absolute;
    top: 12px;
    left: -45px;
}

.quick-login .quick-login-in .login-icon .tip-text .line-right {
    width: 40px;
    border: 1px solid #fff;
    display: block;
    position: absolute;
    top: 12px;
    right: -45px;
}
/*快速登录样式*/

/*吸顶效果样式*/
.top-nav {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 72px;
    left: 0;
    z-index: 999;
    display: none;
}
.top-nav .top-nav-in {
    width: 2000px;
    height: 100%;
    margin: 0 auto;
}

.top-nav .top-nav-in>div {
    width: 400px;
    height: 100%;
    color: #fff;
}

.top-nav .top-nav-in .left {
    float: left;
}

.top-nav .top-nav-in .left p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.top-nav .top-nav-in .right {
    float: right;
    padding-top: 19px;
    box-sizing: border-box;
}

.top-nav .top-nav-in .right li {
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 8px;
}

.top-nav .top-nav-in .right li:nth-child(1) {
    width: 180px;
    line-height: 42px;
}

.top-nav .top-nav-in .right li:nth-child(2) {
    background: url("../images/icon2.png") 0 0;
    background-size: cover;
}

.top-nav .top-nav-in .right li:nth-child(3) {
    background: url("../images/icon2.png") -42px 0;
    background-size: cover;
}

.top-nav .top-nav-in .right li:nth-child(4) {
    background: url("../images/icon2.png") -84px 0;
    background-size: cover;
}

.top-nav .top-nav-in .right li:nth-child(5) {
    background: url("../images/icon2.png") -126px 0;
    background-size: cover;
}

.top-nav .top-nav-in .right li a {
    width: 42px;
    height: 42px;
    display: inline-block;
    cursor: pointer;
}
/*吸顶效果样式*/

/*类型标题样式*/
.type-title {
    width: 100%;
    height: 160px;
}

.type-title .type-title-in {
    position: relative;
    width: 300px;
    height: 100%;
    line-height: 160px;
    margin: 0 auto;
    text-align: center;
    font-size: 44px;
    color: #666;
}

.type-title .type-title-in .line-left {
    width: 60px;
    border-top: 1px solid #666;
    position: absolute;
    top: 79px;
    left: 15px;
}

.type-title .type-title-in .line-right {
    width: 60px;
    border-top: 1px solid #666;
    position: absolute;
    top: 79px;
    right: 15px;
}
/*类型标题样式*/

/*选项卡样式*/
.tab {
    width: 100%;
    height: auto;
}

.tab .tab-header {
    width: 450px;
    height: 48px;
    margin: 0 auto;
}

.tab .tab-header ul li {
    width: 150px;
    line-height: 47px;
    text-align: center;
    float: left;
    font-size: 24px;
    cursor: pointer;
}

.tab .tab-header ul li.current {
    border-bottom: 1px solid orangered;
    color: orangered;
}

.tab .tab-content {
    width: 100%;
}

.tab .tab-content .dom {
    display: none;
    background-color: #e8e8e8;
}

.tab .tab-content .dom:nth-child(1) {
    width: 2000px;
    margin: 0 auto;
}

.tab .tab-content .dom:nth-child(2) {
    width: 2000px;
    margin: 0 auto;
    background-color: yellow;
}

.tab .tab-content .dom:nth-child(3) {
    width: 2000px;
    margin: 0 auto;
    background-color: blue;
}

.dom-top {
    width: 1930px;
    height: 189px;
    padding: 35px;
    margin: 0 auto;
}

.dom-top ul li {
    width: 354px;
    height: 189px;
    border-radius: 5px;
    float: left;
    margin-left: 40px;
}

.dom-top ul li:nth-child(1) {
    margin-left: 0;
}

.dom-top ul li a {
    width: 354px;
    height: 189px;
    display: inline-block;
}

.dom-top ul li:nth-child(1) a {
    background: url("../images/top01.png");
    background-size: 100% 100%
}

.dom-top ul li:nth-child(2) a {
    background: url("../images/top02.jpg");
    background-size: 100% 100%
}

.dom-top ul li:nth-child(3) a {
    background: url("../images/top03.jpg");
    background-size: 100% 100%
}

.dom-top ul li:nth-child(4) a {
    background: url("../images/top04.jpg");
    background-size: 100% 100%
}

.dom-top ul li:nth-child(5) a {
    background: url("../images/top05.jpg");
    background-size: 100% 100%
}
/*选项卡样式*/

.dom-pull {
    width: 2000px;
    padding: 20px 0;
    position: relative;
    margin: 0 auto;
}

.dom-pull .box {
    width: 315px;
    float: left;
    border: 1px solid #ccc;
    position: relative;
}

.dom-pull .box p {
    font-size: 18px;
    margin: 8px;
    /*允许长单词换行到下一行*/
    word-wrap: break-word;
}

.dom-pull .box .pic {
    position: relative;
    cursor: pointer;
}

.dom-pull .box .pic img {
    width: 315px;
}

/*蒙版*/
.dom-pull .box .pic .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    display: none;
}

.dom-pull .box .btn-box {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: red;
    z-index: 3;
    display: none;
}

.dom-pull .box .btn-box .collect {
    position: absolute;
    top: 0;
    left: 0;
    /*height: 40px;*/
    /*line-height: 40px;*/
    font-size: 20px;
    background-color: #E53E49;
    padding: 6px;
    color: #fff;
    text-decoration: none;
}

.dom-pull .box .btn-box .like {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dom-pull .box .btn-box .like .heart {
    width: 14px;
    height: 14px;
    background: url("../images/action_icons12.png") -20px 0;
    display: inline-block;
}

/*右侧浮动样式*/
.elevator-item {
    position: fixed;
    right: 80px;
    bottom: 50px;
    z-index: 999;
    opacity: 1;
}

.elevator-item .elevator {
    width: 40px;
    height: 36px;
    background: rgba(0, 0, 0, .5) url("../images/iconsprite_btbar.png") no-repeat 8px 6px;
    /*display: none;*/
    border-radius: 5px;
    margin-bottom: 5px;
}

.elevator-item .elevator:hover {
    background-color: rgba(0, 0, 0, 1);
}

.elevator-item .plus {
    width: 40px;
    height: 36px;
    background: rgba(0, 0, 0, .5) url("../images/iconsprite_btbar.png") no-repeat 8px -34px;
    display: block;
    border-radius: 5px;
}

.elevator-item .plus:hover {
    background-color: rgba(0, 0, 0, 1);
}
/*右侧浮动样式*/
